@model practico1.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPedidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPedidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
